*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Alice', sans-serif;
}

header{
    background-color: #ffd600;
    padding: 3rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header h1{
    color: black;
    padding: 0.6rem 0.8rem;
    display: inline-block;
    border-radius: 50px;
}

/* for banner img make sure to put a rgba background to make the button stand out  */
.banner{
    background-image: url('/img/better_call_saul-9-1024x576.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    position: relative;
    left: 0;
    top: 100%;
    background-color: #ffd600;
    color: red;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h2{
    font-size: 5.5rem;
}

.banner h2 span{
    font-size: 4.5rem;
}

/* nav{
    background-color: #ffd600;
    padding: 1.4rem;
} */